* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*---------------------------*/
body {
  font-family: Montserrat;
  font-size: 14px;
  color: #252B42;
  font-weight: 500;
  background-color: #fafafa;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

._container {
  max-width: 1046px;
  padding: 0px 15px;
  margin: 0px auto;
  box-sizing: content-box;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

/*Header------------------------------------------------------------------------------------------------------------------*/
.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}

.header__container {
  display: flex;
  min-height: 104px;
  align-items: center;
}

@media (max-width: 479px) {
  .header__container {
    min-height: 70px;
  }
}
.header__logo {
  font-size: 24px;
  font-weight: 700;
  color: inherit;
}

.header__menu {
  margin: 0px 0px 0px 128px;
}

@media (max-width: 992px) {
  .header__menu {
    margin: 0px 0px 0px 80px;
  }
}
@media (max-width: 767px) {
  .header__menu {
    margin: 0px 0px 0px 50px;
  }
}
.menu {
  padding: 5px 0px;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
}

.menu__item:not(:last-child) {
  margin: 0px 21px 0px 0px;
}

.menu__link {
  color: #737373;
  font-weight: 600;
  line-height: 171.4285714286%;
}

.menu__link:hover {
  color: #ff7b47;
}

@media (max-width: 479px) {
  .menu__link {
    font-size: 18px;
  }
}
@media (max-width: 992px) {
  .menu__link {
    color: #484848;
  }
}
/*Page------------------------------------------------------------------------------------------------------------------*/
.page {
  flex: 1 1 auto;
}

.page__services {
  margin: -106px 0px 0px 0px;
  position: relative;
  z-index: 2;
}

.page__clients {
  margin: 0px 0px 22px 0px;
}

/*Header block------------------------------------------------------------------------------------------------------------------*/
.header-block {
  text-align: center;
}

.header-block__title {
  font-size: 40px;
  line-height: 142.5%;
  letter-spacing: 0.2px;
  font-weight: 700;
}

.header-block__title:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.header-block__sub-title {
  color: #737373;
  line-height: 142.8571428571%;
  letter-spacing: 0.2px;
}

@media (max-width: 992px) {
  .header-block__title {
    font-size: 35px;
  }
}
@media (max-width: 767px) {
  .header-block__title {
    font-size: 30px;
  }
}
/*Main-block------------------------------------------------------------------------------------------------------------------*/
.main-block {
  position: relative;
}

.main-block__body {
  padding: 180px 0px 190px 0px;
  position: relative;
  z-index: 2;
  max-width: 400px;
}

@media (max-width: 479px) {
  .main-block__body {
    padding: 115px 0px 160px 0px;
  }
}
.main-block__body > *:not(:last-child) {
  margin: 0px 0px 28px 0px;
}

@media (max-width: 992px) {
  .main-block__body {
    padding: 120px 0px 190px 0px;
  }
}
.main-block__title {
  font-size: 58px;
  line-height: 137.9310344828%;
  font-weight: 800;
  letter-spacing: 0.2px;
}

@media (max-width: 479px) {
  .main-block__title {
    font-size: 42px;
  }
}
.main-block__text {
  color: #737373;
  font-size: 20px;
  line-height: 150%;
  font-weight: 500;
}

@media (max-width: 992px) {
  .main-block__text {
    color: #484848;
  }
}
.main-block__buttons {
  display: flex;
  flex-wrap: wrap;
  margin: -10px 0;
}

.main-block__button {
  border-radius: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 33px;
  min-height: 48px;
  letter-spacing: 0.2px;
  font-weight: 700;
  line-height: 200%;
  margin: 10px 0px;
}

@media (max-width: 479px) {
  .main-block__button {
    flex: 1 1 auto;
  }
}
@media (min-width: 479px) {
  .main-block__button:not(:last-child) {
    margin-right: 10px;
  }
}
.main-block__button_orange {
  background-color: #ff7b47;
  color: #fff;
  transition: all 0.3s ease 0s;
}

.main-block__button_orange:hover {
  color: #0d5c63;
  border: 1px solid #0d5c63;
}

.main-block__button_border {
  color: #0d5c63;
  border: 1px solid #0d5c63;
  transition: all 0.3s ease 0s;
}

.main-block__button_border:hover {
  background-color: #ff7b47;
  color: #fff;
  border: 1px solid #fff;
}

.main-block__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@media (max-width: 1300px) {
  .main-block__image img {
    -o-object-position: right;
       object-position: right;
  }
}
@media (max-width: 992px) {
  .main-block__image img {
    opacity: 0.5;
  }
}
/*Services------------------------------------------------------------------------------------------------------------------*/
@media (min-width: 670px) {
  .services__body {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -15px -30px;
  }
}
.services__column {
  flex: 0 1 33.333%;
  margin: 0px 0px 30px 0px;
}

@media (min-width: 670px) {
  .services__column {
    padding: 0px 15px;
  }
}
@media (max-width: 992px) {
  .services__column {
    flex: 0 1 50%;
  }
  .services__column:last-child {
    flex: 1 1 100%;
  }
}
.services__item {
  background-color: #fff;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  padding: 35px;
  height: 100%;
}

@media (max-width: 479px) {
  .services__item {
    padding: 25px;
  }
}
.item-service_green {
  background-color: #0d5c63;
}

.item-service_green .item-service__title {
  color: #fff;
}

.item-service_green .item-service__text {
  color: #fff;
}

.item-service > *:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.item-service__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 133.3333333333%;
  letter-spacing: 0.1px;
}

.item-service__text {
  color: #737373;
  line-height: 142.8571428571%;
}

/*Advantages------------------------------------------------------------------------------------------------------------------*/
.advantages {
  margin: 67px 0px;
}

@media (max-width: 992px) {
  .advantages {
    margin: 50px 0px;
  }
}
@media (max-width: 767px) {
  .advantages {
    margin: 30px 0px;
  }
}
.advantages__header {
  margin: 0px 0px 50px 0px;
}

@media (max-width: 767px) {
  .advantages__header {
    margin: 0px 0px 25px 0px;
  }
}
.advantages__body {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -15px -30px;
}

.advantages__column {
  padding: 0px 15px;
  margin: 0px 0px 30px 0px;
  flex: 0 1 25%;
}

@media (max-width: 1020px) {
  .advantages__column {
    flex: 0 1 50%;
  }
}
@media (max-width: 560px) {
  .advantages__column {
    flex: 0 1 100%;
  }
}
.advantages__item {
  background-color: #fff;
  padding: 30px;
  text-align: center;
}

.advantages__item > *:not(:last-child) {
  margin: 0px 0px 6px 0px;
}

.advantages__icon {
  height: 48px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.advantages__value {
  font-size: 40px;
  line-height: 142.5%;
  font-weight: 700;
}

.advantages__text {
  color: #737373;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
  font-weight: 700;
}

/*Practice------------------------------------------------------------------------------------------------------------------*/
.practice {
  padding: 132px 0px 80px 0px;
}

@media (max-width: 992px) {
  .practice {
    padding: 40px 0px 80px 0px;
  }
}
@media (max-width: 767px) {
  .practice {
    padding: 0px 0px 40px 0px;
  }
}
.practice__header {
  margin: 0px 0px 40px 0px;
}

@media (max-width: 767px) {
  .practice__header {
    margin: 0px 0px 25px 0px;
  }
}
.practice__body {
  margin: 0px -20px -30px;
  display: flex;
  flex-wrap: wrap;
}

.practice__column {
  padding: 0px 20px;
  margin: 0px 0px 30px 0px;
  flex: 0 1 25%;
}

@media (max-width: 1040px) {
  .practice__column {
    flex: 0 1 50%;
  }
}
@media (max-width: 630px) {
  .practice__column {
    flex: 0 1 100%;
  }
}
.item-practice {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.item-practice__content {
  padding: 30px;
  flex: 1 1 auto;
}

.item-practice__link {
  color: inherit;
  display: inline-block;
}

.item-practice__link:not(:last-child) {
  margin: 0px 0px 15px 0px;
}

.item-practice__link:hover {
  text-decoration: underline;
}

.item-practice__title {
  font-size: 16px;
  letter-spacing: 0.1px;
  line-height: 150%;
  font-weight: 700;
}

.item-practice__text {
  color: #737373;
  line-height: 142.8571428571%;
}

.item-practice__image {
  display: block;
  padding: 0px 0px 60% 0px;
}

/*Who we are------------------------------------------------------------------------------------------------------------------*/
.whoweare {
  background: #fff;
  padding: 90px 0px 130px 0px;
}

@media (max-width: 950px) {
  .whoweare {
    padding: 50px 0px 50px 0px;
  }
}
@media (max-width: 767px) {
  .whoweare {
    padding: 20px 0px 50px 0px;
  }
}
.whoweare__header {
  margin: 0px 0px 100px 0px;
}

@media (max-width: 950px) {
  .whoweare__header {
    margin: 0px 0px 30px 0px;
  }
}
.whoweare__body {
  display: flex;
  align-items: flex-start;
}

@media (max-width: 950px) {
  .whoweare__body {
    flex-direction: column-reverse;
    align-items: stretch;
  }
  .whoweare__body:not(:last-child) {
    margin: 0px 0px 50px 0px;
  }
}
@media (max-width: 767px) {
  .whoweare__body:not(:last-child) {
    margin: 0px 0px 30px 0px;
  }
}
.whoweare__video {
  flex: 0 0 57%;
  position: relative;
  padding: 0px 0px 41% 0px;
}

.whoweare__video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 950px) {
  .whoweare__video:not(:last-child) {
    margin: 50px 0px 0px 0px;
  }
  .whoweare__video {
    padding: 0px 0px 56.25% 0px;
  }
}
@media (max-width: 767px) {
  .whoweare__video:not(:last-child) {
    margin: 30px 0px 0px 0px;
  }
}
.whoweare__content {
  flex: 1 1 auto;
  padding: 17px 0px 0px 105px;
}

@media (max-width: 1080px) {
  .whoweare__content {
    padding: 0px 0px 0px 50px;
  }
}
@media (max-width: 950px) {
  .whoweare__content {
    padding: 0px 0px 0px 0px;
  }
}
.whoweare__title {
  font-weight: 800;
  font-size: 40px;
  line-height: 142.5%;
  letter-spacing: 0.2px;
}

@media (max-width: 950px) {
  .whoweare__title {
    font-size: 24px;
    text-align: center;
  }
}
.whoweare__title:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.whoweare__text {
  color: #737373;
  line-height: 142.8571428571%;
}

@media (max-width: 950px) {
  .whoweare__text {
    text-align: center;
  }
}
.whoweare__items {
  margin: 50px 0px 0px 0px;
}

.whoweare__item:not(:last-child) {
  margin: 0px 0px 30px 0px;
}

.item-whoweare {
  display: flex;
}

.item-whoweare__icon {
  flex: 0 0 32px;
}

.item-whoweare__body {
  flex: 1 1 auto;
  padding: 0px 0px 0px 20px;
}

.item-whoweare__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}

.item-whoweare__title:not(:last-child) {
  margin: 0px 0px 5px 0px;
}

.item-whoweare__text {
  color: #737373;
  white-space: nowrap;
  line-height: 142.8571428571%;
  width: 215px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*Clients------------------------------------------------------------------------------------------------------------------*/
.clients {
  padding: 40px 0px;
}

@media (max-width: 767px) {
  .clients {
    padding: 30px 0px;
  }
}
.clients__items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.clients__item {
  padding: 6px 15px;
  flex: 0 1 16.6667%;
  text-align: center;
  min-width: 140px;
}

.clients__item img {
  max-width: 100%;
}

/*Subscribe------------------------------------------------------------------------------------------------------------------*/
.subscribe {
  position: relative;
  padding: 0px 0px 20px 0px;
}

.subscribe::before {
  content: "";
  background: #252B42;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 77px;
  left: 0;
}

.subscribe__body {
  position: relative;
  z-index: 2;
  padding: 30px 50px;
  align-items: center;
  background-color: #17213c;
  border-radius: 2px;
}

@media (min-width: 1070px) {
  .subscribe__body {
    margin: 0px 30px;
  }
}
@media (min-width: 810px) {
  .subscribe__body {
    display: flex;
    justify-content: space-between;
  }
}
.subscribe__title {
  color: #fff;
  font-size: 24px;
  line-height: 133.3333333333%;
  letter-spacing: 0.1px;
  font-weight: 700;
}

@media (max-width: 810px) {
  .subscribe__title {
    margin: 0px 0px 20px 0px;
  }
  .subscribe__body {
    margin: 0px -15px;
    padding: 20px 25px;
  }
}
@media (min-width: 810px) {
  .subscribe__title {
    max-width: 266px;
  }
}
.subscribe__form {
  flex: 0 1 50%;
  display: flex;
  align-items: center;
}

.subscribe__input {
  width: 100%;
  flex: 1 1 auto;
  padding: 0px 20px;
  min-height: 58px;
  border: 1px solid #e6e6e6;
  border-radius: 5px 0 0 5px;
  background-color: #f9f9f9;
  color: #737373;
  border-right: 0;
}

.subscribe__input:focus {
  color: black;
}

.subscribe__button {
  background-color: #ff7b47;
  border: 1px solid #e6e6e6;
  border-radius: 0px 5px 5px 0px;
  display: flex;
  min-height: 58px;
  align-items: center;
  justify-content: center;
  text-align: justify;
  color: #fff;
  padding: 0px 22px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.subscribe__button:hover {
  color: #ff7b47;
  background-color: #fff;
  border: 1px solid #ff7b47;
}

@media (min-width: 810px) {
  .subscribe__button {
    padding: 0px 15px;
  }
  .subscribe__input {
    padding: 0px 15px;
  }
}
/*Get in touch------------------------------------------------------------------------------------------------------------------*/
.getintouch {
  padding: 60px 0px 135px 0px;
}

@media (max-width: 992px) {
  .getintouch {
    padding: 50px 0px 50px 0px;
  }
}
.getintouch__header {
  margin: 0px 0px 75px 0px;
}

.getintouch__items {
  margin: 0px -15px;
}

@media (min-width: 992px) {
  .getintouch__items {
    display: flex;
    align-items: center;
    margin: 0px;
  }
}
@media (max-width: 992px) {
  .getintouch__header {
    margin: 0px 0px 50px 0px;
  }
}
@media (max-width: 767px) {
  .getintouch__header {
    margin: 0px 0px 30px 0px;
  }
}
.getintouch__item {
  flex: 0 1 33.333%;
}

.item-getintouch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 50px 15px;
}

.item-getintouch > *:not(:last-child) {
  margin: 0px 0px 15px 0px;
}

.item-getintouch_active {
  background-color: #252B42;
  color: #fff;
  padding: 80px 15px;
}

@media (max-width: 992px) {
  .item-getintouch_active {
    padding: 50px 15px;
  }
}
.item-getintouch_active .item-getintouch__button {
  border: 1px solid #fff;
  color: #fff;
}

.item-getintouch__emails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-getintouch__email {
  color: inherit;
  font-weight: 600;
  line-height: 150%;
  font-size: 14px;
}

.item-getintouch__email:hover {
  text-decoration: underline;
}

.item-getintouch__label {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}

.item-getintouch__button {
  border: 1px solid #ff7b47;
  border-radius: 5px;
  min-height: 44px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #ff7b47;
  line-height: 171.4285714286%;
  padding: 5px 20px;
  font-weight: 600;
  transition: all 0.3s ease 0s;
}

.item-getintouch__button:hover {
  border: 1px solid #ff7b47;
  background-color: #ff7b47;
  color: #fff;
}

/*Contact us------------------------------------------------------------------------------------------------------------------*/
.contact {
  background-color: #fff;
  padding: 42px 0;
}

.contact__content {
  padding: 0px 0px 20px 0px;
}

@media (min-width: 767px) {
  .contact__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .contact__content {
    padding: 0px 20px 0px 0px;
  }
}
.contact__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 133.3333333333%;
  letter-spacing: 0.1px;
}

.contact__title:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.contact__text {
  color: #737373;
  line-height: 142%;
}

.contact__button {
  display: flex;
  background-color: #ff7b47;
  color: #fff;
  min-height: 58px;
  border-radius: 5px;
  padding: 5px 40px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  transition: all 0.3s ease 0s;
  margin: 0px 60px 0px 0px;
}

@media (max-width: 767px) {
  .contact__button {
    margin: 0px 0px 0px 0px;
  }
}
.contact__button:hover {
  background-color: #fff;
  color: #ff7b47;
  border: 1px solid #ff7b47;
}

/*Footer------------------------------------------------------------------------------------------------------------------*/
.footer__top {
  background: #17213c;
  padding: 30px;
}

.footer__row {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -15px;
}

.footer__column {
  padding: 20px 15px;
  flex: 0 1 16.667%;
}

.footer__column:last-child {
  flex: 0 1 33.334%;
}

@media (max-width: 992px) {
  .footer__column {
    flex: 0 1 25%;
  }
  .footer__column:last-child {
    flex: 0 1 100%;
  }
}
@media (max-width: 767px) {
  .footer__column {
    flex: 0 1 50%;
  }
  .footer__column:last-child {
    flex: 0 1 100%;
  }
}
.footer__laber {
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  margin: 0px 0px 20px 0px;
}

.menu-footer__item:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.menu-footer__link:hover {
  text-decoration: underline;
}

.menu-footer__link {
  color: #fff;
  display: inline-block;
  letter-spacing: 0.2px;
  line-height: 165%;
}

.contacts-footer {
  display: flex;
  flex-direction: column;
}

.contacts-footer__item {
  padding: 0px 0px 0px 34px;
  display: flex;
  align-items: center;
  min-height: 30px;
  line-height: 142%;
  color: #fff;
}

.contacts-footer__item:hover {
  text-decoration: underline;
}

.contacts-footer__item:not(:last-child) {
  margin: 0px 0px 12px 0px;
}

.contacts-footer__item_email {
  background: url("../img/footer/icons/03.svg") 0 0 no-repeat;
}

.contacts-footer__item_map {
  background: url("../img/footer/icons/02.svg") 0 0 no-repeat;
}

.contacts-footer__item_phone {
  background: url("../img/footer/icons/01.svg") 0 0 no-repeat;
}

.footer__bottom {
  padding: 25px 0px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__copy {
  color: #737373;
  line-height: 171%;
}

.social {
  display: flex;
  align-items: center;
  margin: 0px 60px 0px 0px;
}

.social__item:not(:last-child) {
  margin: 0px 20px 0px 0px;
}

@media (max-width: 767px) {
  .footer__container {
    flex-direction: column;
  }
  .footer__copy {
    margin: 0px 0px 15px 0px;
    text-align: center;
  }
  .social {
    margin: 0px 0px 0px 0px;
  }
}